<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ddona.demorecycleview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDAKQPUGwE9yQLsr3CrTSdS2NxoE1p9nOs" />

        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".DetailActivity" />
        <activity android:name=".TopicActivity">

        </activity>
        <activity android:name=".StoreListActivity" />
        <activity android:name=".AnimationActivity">

        </activity>
        <activity android:name=".ui.FragmentActivity">

        </activity>
        <activity android:name=".ui.DemoDialogActivity">

        </activity>

        <service android:name=".service.MusicOnlineService"/>
        <activity android:name=".ui.map.DirectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>